<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Db connection details -->
        <add key="Server" value="localhost" />
        <add key="Database" value="Test" />
        <add key="UserId" value="TcDoctor" />
        <add key="Password" value="PassatTFSI200##" />
        <!-- Load the correct dependencies in StructureMap -->
        <add key="FluentAssertions.TestFramework" value="mstest" />
    </appSettings>
</configuration>